.container {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  gap: 1%;
  align-items: center;
}

.main-block {
  width: 100%;
  display: flex;
  gap: 1%;
  padding: 0 3rem;
  box-sizing: border-box;
}
