.api-container {
  display: flex;
  width: 80%;
  gap: 2%;
  margin: 1rem;
}

.api-label {
  width: max-content;
}

.api-input {
  width: max-content;
  min-width: 17rem;
  padding: 0.2rem;
  border-radius: 5px;
  border: 1px solid var(--purple-dark);
}
