.api-container {
  display: flex;
  width: 100%;
  gap: 2%;
  padding: 3rem 1rem 1rem 1rem;
  box-sizing: border-box;
  justify-content: center;
}

.api-label {
  width: max-content;
  box-sizing: border-box;
}

.api-input {
  width: max-content;
  min-width: 17rem;
  padding: 0.2rem;
  border-radius: 5px;
  border: 1px solid var(--purple-dark);
  box-sizing: border-box;
}
