body {
  position: relative;
}

.schema-block {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  padding: 1rem 3rem;
  text-align: left;
  background-color: white;
  z-index: 9998;
}

.schema {
  display: grid;
  grid-template-columns: 16vw 16vw 16vw 16vw;
  gap: 4rem;
  margin-top: 1rem;
}

.query {
  color: rgb(16, 182, 211);
  font-weight: 600;
}

.title {
  color: rgb(16, 100, 211);
  font-weight: 600;
  cursor: pointer;
}

h4,
h5,
p {
  margin: 0;
}

.name {
  color: rgb(16, 182, 211);
}

.arg {
  color: rgb(223, 9, 205);
  font-weight: 600;
}

.type {
  color: var(--purple-dark);
  font-weight: 600;
}

.description {
  color: rgb(61, 61, 61);
}

.directive-name {
  color: rgb(5, 201, 158);
  font-weight: 600;
}

.type-description-primitive {
  cursor: pointer;
}

.list-block {
  display: flex;
  flex-direction: column;
}

.return-value {
  margin: 0;
  padding: 0;
}

.methods-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.arg-list {
  width: 100%;
}

.directive-name {
  margin: 0;
}

.directives-list,
.arguments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.root-and-directives {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.type-description {
  background-color: var(--yellow);
  padding: 5px;
  height: max-content;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@media (max-width: 680px) {
  .modal {
    padding: 1rem 7rem;
    min-height: 100%;
    height: max-content;
  }
  .schema {
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: auto auto auto auto;
    gap: 4rem;
  }
}
