.docs-container {
  width: auto;
  position: relative;
}

.docs {
  height: fit-content;
  background-color: transparent;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  height: 2rem;
  position: relative;
  z-index: 9999;
}

.docs:hover .book {
  animation: rotate 1s ease-in-out infinite;
  transform-origin: center;
}

.book {
  width: 2rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.docs,
.docs:active,
.docs:focus {
  outline: none;
}

@media (max-width: 680px) {
}
