.headers-section {
  width: 100%;
}

.title {
  min-width: max-content;
  width: calc(5rem + 5vw);
  margin-top: 0.5rem;
  height: calc(1.5rem + 1.4vw);
  border: none;
  outline: none;
  padding: 0.3rem 0.5rem;
  font-size: calc(0.125vw + 13.60px);
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--background-dark);
  color: var(--white);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 1s;
}

.title:hover {
  background-color: var(--purple-dark);
}

.headers-container {
  width: 100%;
  position: relative;
}

.textarea {
  width: 100%;
  resize: none;
  min-height: max-content;
  padding: 1rem 3rem 1rem 2rem;
  cursor: text;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  word-spacing: 2px;
  line-height: 160%;
  min-height: 15rem;
  height: auto;
  cursor: text;
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--background-dark);
  border: 1px solid var(--purple-light);
  border-radius: 10px;
}

.button-cross {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  background-color: transparent;
  padding: 0.3rem;
  margin: 0;
}

.button-cross:focus {
  outline: none;
}

.cross {
  width: 1.2rem;
  padding: 0;
  margin: 0;
  transform-origin: center;
  transition: all 1s ease-in-out;
}

.button-cross:hover .cross {
  transform: rotate(360deg) scale(0.7);
}

.error {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  position: relative;
  background-color: var(--yellow);
  margin-top: 1rem;
  padding: calc(0.2rem + 0.4vw);
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc(0.4rem + 0.3vw);
}

.error.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
