.variables-section {
  width: 100%;
}

.title {
  min-width: max-content;
}

.variables-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 2rem;
  align-items: flex-start;
  gap: 1%;
}

.textarea {
  width: 100%;
  resize: none;
  min-height: max-content;
  height: auto;
  padding: 15px;
  cursor: text;
}

.button-cross {
  width: 100%;
  background-color: transparent;
  padding: 0.3rem;
  margin: 0;
}

.button-cross:focus {
  outline: none;
}

.cross {
  width: 1.2rem;
  padding: 0;
  margin: 0;
  transform-origin: center;
  transition: all 1s ease-in-out;
}

.button-cross:hover .cross {
  transform: rotate(360deg) scale(0.7);
}

.error {
  color: red;
  position: relative;
}

.error::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: 0s;
}

.headers-section:hover .error::after {
  width: 100%;
  transition: width 1s ease-in-out;
}
