.main {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url(../assets/dot-background.png);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.fixed {
  margin-top: 12vh;
}
