.section {
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  align-self: center;
  background-image: url(../../assets/welcome-background.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
}

.wrapper {
  height: 90%;
  margin-top: calc(3rem + 3vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bottom {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.top {
  margin-bottom: 2rem;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.title {
  margin: 0;
  font-size: calc(1.2rem + .8vw);
}

.name {
  font-size: calc(1.2rem + .8vw);
  margin-top: .5rem;
  align-self: flex-end;
  background-color: var(--yellow);
  padding: .5rem 1rem;
  color: var(--background-dark);
  transform: rotate(-10deg);
}