.section {
  padding: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  align-self: center;
  background-image: url(../../assets/welcome-background.png);
  background-repeat: no-repeat;
  background-size: 70vw;
  background-position: center center;
}

.wrapper {
  height: 90%;
  width: 100%;
  margin-top: calc(3rem + 3vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bottom {
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.top {
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.title {
  margin: 0;
  font-size: calc(1.2rem + 0.8vw);
}

.name {
  font-size: calc(1.2rem + 0.8vw);
  margin-top: 0.5rem;
  align-self: flex-end;
  background-color: var(--yellow);
  padding: 0.5rem 1rem;
  color: var(--background-dark);
  transform: rotate(8deg) scale(0.9);
  transition: all 1s;
}

main:hover .name {
  margin-top: 0.5rem;
  align-self: flex-end;
  background-color: var(--yellow);
  padding: 0.5rem 1rem;
  color: var(--background-dark);
  transform: rotate(-10deg) scale(1);
  transition: all 1s;
}

@media (max-width: 1280px) {
  .section {
    background-size: 90vw;
  }

  .bottom {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .section {
    background-size: 100vw;
  }

  .bottom {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 2rem;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}

@media (max-width: 640px) {
  .section {
    padding: 1rem;
  }

  .top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .name {
    align-self: center;
  }

  .bottom {
    width: 100%;
  }
}