.error-wrapper {
  display: flex;
  gap: 0.3em;
  align-items: center;
}

.error,
.exclamation {
  margin-top: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc(0.4em + 0.3vw);
}

.error {
  color: #89b0ae;
}

.exclamation {
  color: red;
}
