.editor-block {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
}

.editor-wrapper {
  width: 100%;
  display: flex;
  gap: 3%;
}

.editor-section,
.aside-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3rem;
  gap: 1%;
  padding: 1rem;
  box-sizing: border-box;
}

.response {
  width: 100%;
  box-sizing: border-box;
}

.textarea {
  width: 100%;
  min-height: 15rem;
  height: 100%;
  cursor: text;
  padding: 1rem;
  box-sizing: border-box;
}

.button-submit {
  background-color: transparent;
  height: 2rem;
  width: 2rem;
  padding: 0;
}

.submit {
  width: 2rem;
  width: 2rem;
}

.button-submit:hover .submit {
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
