.button {
  padding: 9px 14px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--yellow);
}

.button:hover {
  opacity: 0.7;
}
