.schema {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.query {
  color: blue;
}

.title {
  cursor: pointer;
  color: orange;
}

.name {
  cursor: pointer;
  color: plum;
}

.arg {
  color: red;
}

.type {
  cursor: pointer;
  color: rgb(0, 255, 34);
}

.description {
  color: rgb(61, 61, 61);
}
