.container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.background {
  box-sizing: border-box;
  max-height: 30rem;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  max-width: 100%;
}

.text {
  position: absolute;
  font-size: calc(1rem + 1vw);
  line-height: 200%;
  transform-style: preserve-3d;
  text-align: center;
  width: 80%;
  max-width: 30rem;
}

.highlight {
  margin-left: 5px;
  background-color: var(--yellow);
  padding: 0.2rem;
  color: var(--background-dark);
  text-decoration: none;
  transform: rotate(0deg);
  display: inline-block;
}

.highlight:hover {
  transform: rotate(-10deg);
  transition: all 0.3s ease-in-out;
}
