.container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: '../../assets/404.png';
  position: relative;
}

.background {
  box-sizing: border-box;
  max-height: 30rem;
}

.text {
  position: absolute;
  font-size: 2rem;
  line-height: 200%;
  transform-style: preserve-3d;
}

.highlight {
  margin-left: 5px;
  background-color: var(--yellow);
  padding: 0.2rem;
  color: var(--background-dark);
  text-decoration: none;
  transform: rotate(0deg);
  display: inline-block;
}

.highlight:hover {
  transform: rotate(-10deg);
  transition: all 0.3s ease-in-out;
}
